@charset "UTF-8";
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.bg-light {
  background-color: #f6f6f6;
}

.bg-dark {
  background-color: rgb(56, 50, 44);
}

.bg-cta {
  background-color: #f68b1f;
}

.notification {
  display: none;
}

.active-class {
  display: block !important;
}

.btn {
  max-width: 400px;
  border-radius: 8px;
  font-size: 0.9rem;
  margin: 1rem 0;
  padding: 0 1rem;
  font-weight: 400;
  display: grid;
  place-items: center;
  font-style: normal;
  letter-spacing: 1px;
  text-shadow: none;
  transition: background-color 0.3s ease;
  border: 2px solid transparent;
}
@media only screen and (max-width: 768px) {
  .btn {
    font-size: 0.9rem;
  }
}

.btn-fill {
  width: 300px;
  color: #fff;
  border-color: #f68b1f;
  background-color: #f68b1f;
}
@media only screen and (max-width: 768px) {
  .btn-fill {
    width: 100%;
  }
}
.btn-fill:hover {
  background-color: #BD6E1E;
  border-color: #BD6E1E;
}

.btn-empty {
  width: 300px;
  color: #f68b1f;
  border-color: #f68b1f;
  background-color: transparent;
}
@media only screen and (max-width: 768px) {
  .btn-empty {
    width: 100%;
  }
}
.btn-empty:hover {
  background-color: #f68b1f;
  border: 2px solid #f68b1f;
  color: #ffffff !important;
  transition: 0.5s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is spread out */
  border-radius: 8px;
  background: #f6f6f6;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 335px;
  height: 100%; /* Ensure all cards take full height */
}
@media only screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}

.card img {
  border-radius: 8px 8px 0 0;
}

.card.show {
  opacity: 1;
  transform: translateY(0); /* Move back into place */
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid #ddd;
}

.card h3 {
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 0 2rem;
}

.card hr {
  background-color: #f68b1f;
  width: 15%;
  height: 2px;
  margin-top: 11.25px;
  margin: 5px 2rem;
}

.card p {
  font-size: 1rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
  flex-grow: 1; /* Allows the paragraph to expand and push the button down */
}

.card-content {
  flex-grow: 1; /* Pushes the button down when text content is smaller */
  display: flex;
  flex-direction: column;
}

.card a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  width: 80%;
  background: #f68b1f;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  transition: background 0.3s ease;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto; /* Ensures it stays at the bottom */
}

.card a.button:hover {
  background: #BD6E1E;
}

body img.gform_ajax_spinner {
  display: none !important;
}

.gform_fields input,
.gform_fields textarea {
  letter-spacing: 1px !important;
  font-size: 0.8rem !important;
  padding-left: 0.8rem !important;
  font-style: italic !important;
  font-weight: 200 !important;
  margin: 0 !important;
  box-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49);
}
.gform_fields select {
  padding-left: 0.8rem !important;
  margin: 0 !important;
  box-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49);
  letter-spacing: 1px !important;
  font-size: 0.8rem !important;
  font-style: italic !important;
}
.gform_fields option {
  font-style: italic !important;
  font-weight: 200 !important;
  letter-spacing: 1px !important;
  font-size: 0.8rem !important;
}
.gform_fields .gf_placeholder {
  font-style: italic !important;
  font-weight: 200 !important;
  letter-spacing: 1px !important;
  font-size: 0.8rem !important;
}
.gform_fields input::placeholder {
  font-style: italic !important;
  font-weight: 200 !important;
  letter-spacing: 1px !important;
  font-size: 0.8rem !important;
}

body .gform_wrapper .gform_footer input[type=submit] {
  text-align: center !important;
  min-width: 300px !important;
  max-width: 400px !important;
  border-radius: 8px !important;
  font-size: 1rem !important;
  margin: 1rem 0 !important;
  padding: 0.5rem 2rem !important;
  font-weight: 400 !important;
  display: grid !important;
  place-items: center !important;
  font-style: normal !important;
  letter-spacing: 1px !important;
  text-shadow: none !important;
  transition: background-color 0.3s ease !important;
  border: 2px solid transparent !important;
  color: #fff !important;
  border-color: #f68b1f !important;
  background-color: #f68b1f !important;
}
body .gform_wrapper .gform_footer input[type=submit]:hover {
  background-color: #BD6E1E;
  border-color: #BD6E1E;
}
@media only screen and (max-width: 768px) {
  body .gform_wrapper .gform_footer input[type=submit] {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  body .gform_wrapper .gform_footer input[type=submit] {
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
    width: 100%;
  }
}

.gform_wrapper label.gfield_label,
legend {
  letter-spacing: 1px;
  font-weight: 200 !important;
  font-size: 0.9rem !important;
}

.gform_wrapper.gravity-theme .gform_footer {
  justify-content: space-around !important;
}

.gform_wrapper .gfield_checkbox input[type=checkbox] {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* For Safari */
  background: url("unchecked_checkbox_image_url") no-repeat center center;
  width: 15px; /* Custom width */
  height: 15px; /* Custom height */
  background-color: #fff;
}

.gform_wrapper .gfield_checkbox input[type=checkbox] {
  appearance: none; /* Hide default checkbox */
  -webkit-appearance: none; /* Hide default checkbox for Safari */
  background-color: #fff; /* Background color of the box */
  border: 2px solid #ddd; /* Border color of the box */
  padding: 8px 6px 8px 6px; /* Size of the box */
  display: inline-block;
  position: relative;
}

.gform_wrapper .gfield_checkbox input[type=checkbox]:checked::before {
  content: "✓"; /* Unicode checkmark symbol */
  position: absolute;
  top: -12px; /* Adjust these values based on your specific alignment needs */
  left: -1px; /* Adjust these values based on your specific alignment needs */
  color: #f68b1f; /* Color of the checkmark */
  font-size: 30px; /* Size of the checkmark */
}

.nav-main {
  position: sticky; /* Allows it to overlay the video section */
  top: 0;
  width: 100%;
  background: rgba(250, 250, 250, 0.8); /* Semi-transparent background */
  z-index: 6001;
}
.nav-main .sec-inner {
  overflow: visible;
}
.nav-main .sec-content {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  padding: 0.5rem 0;
}
@media only screen and (max-width: 768px) {
  .nav-main .sec-content {
    grid-template-columns: 1fr 1fr;
  }
}
.nav-main .sec-content .nav-logo a {
  line-height: 90px;
  display: flex;
  align-items: left;
}
.nav-main .sec-content .nav-logo img {
  max-height: 65px;
  width: auto;
}
@media only screen and (max-width: 768px) {
  .nav-main .sec-content .nav-logo img {
    max-height: 50px;
  }
}
.nav-main .sec-content .nav-items ul {
  display: flex;
  justify-content: space-around;
  grid-gap: 30px;
}
.nav-main .sec-content .nav-items ul li {
  list-style: none;
  color: #afafaf;
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children {
  position: relative;
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children a {
  padding-right: 2.5rem;
  position: relative;
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children a::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  font-size: 0.7rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children.open a::after {
  transform: translateY(-50%) rotate(180deg);
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children .sub-menu a::after {
  content: "";
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f68b1f;
  min-width: 200px;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children ul li:hover {
  background-color: #f7ba7d;
}
.nav-main .sec-content .nav-items ul li.menu-item-has-children ul li a {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  white-space: nowrap;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .nav-main .sec-content .nav-items ul {
    display: none;
  }
}
.nav-main .sec-content .nav-cta {
  display: flex;
  justify-content: flex-end;
  grid-gap: 1rem;
}
.nav-main .sec-content .nav-cta a {
  width: 35px;
  height: 35px;
  background-color: #afafaf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-main .sec-content .nav-cta i {
  line-height: 35px;
  padding: 0;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .nav-main .sec-content .nav-cta {
    display: none;
  }
}

.nav-main-white {
  background-color: #fff;
}

.menu-toggle {
  cursor: pointer;
  z-index: 6002; /* Added z-index */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-toggle .bar1, .menu-toggle .bar2, .menu-toggle .bar3 {
  width: 25px;
  height: 2px;
  background-color: rgb(56, 50, 44);
  margin: 6px 0;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: transform 0.5s linear;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: transform 0.5s linear;
}

.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 45px 15px;
  padding-top: 160px;
  display: none; /* default hidden */
  margin-left: -100%; /* start off-screen */
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 6000; /* Added z-index */
  transition: margin-left 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .nav-sidebar {
    display: block;
  }
}
.nav-sidebar li {
  list-style: none;
  color: #afafaf;
}
.nav-sidebar li.menu-item-has-children a {
  padding-right: 2.5rem;
}
.nav-sidebar li.menu-item-has-children a::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 0.7rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) !important;
  transition: transform 0.3s ease;
  padding-left: 1.5rem;
}
.nav-sidebar li.menu-item-has-children.open a::after {
  transform: translateY(-50%) rotate(180deg) !important;
}
.nav-sidebar li.menu-item-has-children .sub-menu a::after {
  content: "";
}
.nav-sidebar li.menu-item-has-children ul {
  display: none;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: 0;
  margin: 0;
  z-index: 1000;
}
.nav-sidebar li.menu-item-has-children ul li a {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  white-space: nowrap;
  color: #afafaf;
}
.nav-sidebar li.menu-item-has-children ul li a:hover {
  color: #f68b1f !important;
}

.sidebar-active {
  margin-left: 0; /* brings sidebar into view */
}

.nav-footer {
  padding: 45px 0;
  background-color: rgb(56, 50, 44);
  margin-bottom: 0 !important;
}
.nav-footer .nav-items {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.nav-footer .nav-items .title-wrap {
  display: inline-block;
  padding-bottom: 15px;
}
.nav-footer .nav-items .title-wrap h5 {
  font-size: 1rem;
}
.nav-footer .nav-items .title-wrap hr {
  background-color: #f6f6f6;
  width: 75%;
  height: 2px;
  margin-top: 11.25px;
}
.nav-footer .nav-items li {
  list-style-type: none;
}
.nav-footer .nav-items a {
  color: #f68b1f;
}
.nav-footer .nav-cta hr {
  background-color: #f6f6f6;
  width: 100%;
  height: 1px;
  margin-top: 45px;
}
.nav-footer .nav-cta p {
  color: #ffffff;
  font-size: 0.8rem;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

.w-10 {
  max-width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-20 {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-30 {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-40 {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-50 {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-60 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-70 {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-80 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-90 {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-100 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.page-title {
  display: block;
  padding-bottom: 15px;
}
.page-title .title-wrapper {
  display: inline-block;
}
.page-title h1 {
  font-size: 2rem;
}
.page-title hr {
  background-color: #f68b1f;
  width: 50%;
  height: 2px;
  margin-top: 11.25px;
}

.page-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 8rem;
}
@media only screen and (max-width: 768px) {
  .page-content {
    display: block;
  }
}
.page-content .col-cta .sideitem {
  height: auto;
  padding: 60px;
  background-color: #f6f6f6;
  border-radius: 8px;
  text-align: left;
}
.page-content strong {
  font-weight: 600;
}
.page-content ul li {
  list-style: disc;
  list-style-position: inside;
}

.page-meta {
  background-color: #ECECEC;
  margin: 2rem 0 0 0;
}
.page-meta .meta-location .wrapper {
  padding: 60px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
@media only screen and (max-width: 768px) {
  .page-meta .meta-location .wrapper {
    display: block;
  }
}
.page-meta .meta-form {
  background-color: #f6f6f6;
}
.page-meta .meta-form .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-meta .meta-form h2 {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.page-opensollicitatie .sec-content {
  padding-bottom: 2rem;
}

.notification-wrapper {
  display: grid;
  align-items: center;
  min-height: 70vh; /* Full viewport height for the wrapper */
}
.notification-wrapper .notification-content {
  flex: 1; /* This allows the content to stretch dynamically */
  box-sizing: border-box; /* Ensure padding doesn't affect the height */
}

.sec {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .sec {
    margin-bottom: 0.5rem;
  }
}

.header {
  margin-top: -120px;
  height: 75vh;
}

.video-header {
  position: relative;
  height: 75vh; /* Full viewport height */
  overflow: hidden;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure video fills the header area */
  z-index: 1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent overlay for better text readability */
  z-index: 2;
}

.header-content {
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: right;
  z-index: 3;
  width: 100%;
}

.header-content h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  line-height: 100px;
  text-align: right;
  text-shadow: 2px 2px 6px #363636;
}
@media only screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 3rem;
    line-height: 60px;
  }
}

.header-content p {
  font-size: 3rem;
  line-height: 70px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px #363636;
}
@media only screen and (max-width: 768px) {
  .header-content p {
    font-size: 2rem;
    line-height: 50px;
  }
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Content Section */
main {
  padding: 20px;
}

#content {
  background: #f4f4f4;
  padding: 50px 20px;
  min-height: 100vh;
}

.filter-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filter-button {
  padding: 5px 20px;
  width: 200px;
  text-align: center;
  border: 1px solid #f68b1f;
  border-radius: 8px;
  background-color: #fff;
  color: #f68b1f;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .filter-button {
    padding: 0px !important;
  }
}

.filter-button:hover,
.filter-button.active {
  background-color: #f68b1f;
  color: #fff;
}

#card-container {
  padding: 30px 15px;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .breadcrumbs p {
    line-height: 18px;
    padding-bottom: 0px;
  }
}

body {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: rgb(56, 50, 44), 1;
  text-align: justify;
}

h1 {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgb(56, 50, 44), 1;
  font-style: regular;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.1rem;
    line-height: 2.1rem;
  }
}

h2 {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: rgb(56, 50, 44), 1;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 0.8rem;
  }
}

h3 {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
  color: rgb(56, 50, 44), 1;
  font-style: normal;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 0.8rem;
    line-height: 30px;
  }
}

p {
  font-weight: 200;
  line-height: 26px;
  font-style: normal;
  padding-bottom: 1.75rem;
  color: rgb(56, 50, 44), 1;
  letter-spacing: 0.5px;
}

strong {
  font-weight: 600;
}

a {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 500;
  line-height: 35px;
  font-size: inherit;
  letter-spacing: 0.5px;
}
a i {
  font-size: 12px;
  padding-left: 5px;
}

ul {
  display: block;
  color: rgb(56, 50, 44), 1 !important;
}

li {
  font-weight: 200;
  line-height: 26px;
  font-style: normal;
  list-style-position: inside;
  list-style-type: disc;
  color: rgb(56, 50, 44), 1;
  letter-spacing: 0.5px;
}

/*# sourceMappingURL=bmv-wb.css.map */
