@use '../abstracts' as *;
@use '../base' as *;

// cards

.card {
    border-radius: $border-radius-button;
    background: $color-bg-light;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 335px;
    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.card img {
    border-radius: $border-radius-button $border-radius-button 0 0;
}

.card.show {
    opacity: 1;
    transform: translateY(0); /* Move back into place */
}

.card:hover {
    transform: translateY(-5px);
    border: 1px solid #ddd;
}

.card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0 2rem;
}

.card hr {
        background-color: $color-cta;
        width: 15%;
        height: 2px;
        margin-top: $padding-base*0.75;
        margin: 5px 2rem;
}

.card p {
    font-size: 1rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.card a.button {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    padding: 5px 0;
    width: 80%;
    background: $color-cta;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: $border-radius-button;
    transition: background 0.3s ease;
    margin-bottom: 2rem;
    margin-left: auto; /* Auto margins center the button horizontally */
    margin-right: auto;
}

.card a.button:hover {
    background: $color-cta-hover;
}
