@use '../abstracts' as *;
@use '../base' as *;
@use "sass:math";

// nav-main
.nav-main {
    position: sticky; /* Allows it to overlay the video section */
    top: 0;
    width: 100%;
    background: rgba(250, 250, 250, 0.8); /* Semi-transparent background */
    z-index: $z-nav;
    .sec-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-logo {
            a {
                line-height: 90px;
                display: flex;
                align-items: center;
            }
            img {
                margin: auto;
                max-height: 65px;
                width: 100%;
            }
        }
        .nav-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-gap: $grid-gap;
            * {
                line-height: 90px;
            }
        }
        .nav-items {
            ul {
                display: flex;
                justify-content: flex-end;
                grid-gap: $padding-base*2;
                li {
                    list-style: none;
                }
            }
        }
        .nav-cta {
            display: flex;
            justify-content: space-around;
            grid-gap: $grid-gap*0.5;
            a {
                width: 35px;
                height: 35px;
                background-color: $color-bg-light;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i {
                line-height: 35px;
            }
        }
    }
}

// nav-footer

.nav-footer {
    padding: $padding-base*3 0;
    background-color: $color-bg-dark;
    margin-bottom: 0 !important;
    .nav-items {
        color: $color-txt-light;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $grid-gap;
        .title-wrap {
            display: inline-block;
            padding-bottom: $padding-base;
            h5 {
                font-size: 1rem;
            }
            hr {
                background-color: $color-bg-light;
                width: 75%;
                height: 2px;
                margin-top: $padding-base*0.75;
            }
        }
        li {
            list-style-type: none;
        }
        a {
            color: $color-txt-light;
        }
    }
    .nav-cta {
        hr {
            background-color: $color-bg-light;
            width: 100%;
            height: 2px;
            margin: $padding-base*2 0;
        }
    }
}
