@use '../abstracts' as *;
@use '../base' as *;
@use "sass:math";

// nav-main
.nav-main {
    position: sticky; /* Allows it to overlay the video section */
    top: 0;
    width: 100%;
    background: rgba(250, 250, 250, 0.8); /* Semi-transparent background */
    z-index: 6001;
    .sec-content {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        align-items: center;
        padding: .5rem 0;
        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .nav-logo {
            a {
                line-height: 90px;
                display: flex;
                align-items: left;
            }
            img {
                max-height: 65px;
                width: auto;
                @media only screen and (max-width: 768px) {
                    max-height: 50px;
                }
            }
        }

        .nav-items {
            ul {
                display: flex;
                justify-content: space-around;
                grid-gap: $padding-base*2;
                li {
                    list-style: none;
                }
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
        }

        .nav-cta {
            display: flex;
            justify-content: flex-end;
            grid-gap: $grid-gap*0.5;
            a {
                width: 35px;
                height: 35px;
                background-color: $color-bg-light;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i {
                line-height: 35px;
                padding: 0px;
            }
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}

.nav-main-white {
  background-color: #fff;
}

// menu-icon
.menu-toggle {
  cursor: pointer;
  z-index: 6002; /* Added z-index */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: $color-bg-dark;
    margin: 6px 0;
    transition: 0.4s;
  }
  @media (min-width: 768px) {
    display: none;
}
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: transform 0.5s linear;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: transform 0.5s linear;
}

//Sidebar
.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: $padding-base*3 $padding-base;
  padding-top: 160px;
  display: none; /* default hidden */
  margin-left: -100%; /* start off-screen */
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 6000; /* Added z-index */
  
  // Add transition for smooth slide-in effect
  transition: margin-left 0.3s ease-in-out;
  
  @media only screen and (max-width: 1200px) {
    display: block;
  }
  
  ul {
    li {
      list-style: none;
      cursor: pointer;
    }
    a {
      cursor: pointer;
    }
  }
}

.sidebar-active {
  margin-left: 0; /* brings sidebar into view */
}


// nav-footer
.nav-footer {
    padding: $padding-base*3 0;
    background-color: $color-bg-dark;
    margin-bottom: 0 !important;
    .nav-items {
        color: $color-txt-light;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $grid-gap;
        .title-wrap {
            display: inline-block;
            padding-bottom: $padding-base;
            h5 {
                font-size: 1rem;
            }
            hr {
                background-color: $color-bg-light;
                width: 75%;
                height: 2px;
                margin-top: $padding-base*0.75;
            }
        }
        li {
            list-style-type: none;
        }
        a {
            color: $color-cta;
        }
    }
    .nav-cta {
        hr {
            background-color: $color-bg-light;
            width: 100%;
            height: 2px;
            margin: $padding-base*2 0;
        }
    }
}
