@use "sass:math";
//layout
$container-base: 1400px;

//spacing
$padding-base: 15px;

// grid 
$grid-gap: 2rem;

//font-family
$font-heading:"source-sans-pro", sans-serif;
$font-body: "source-sans-pro", sans-serif; 

$font-thin: 200;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

// background color variables
$color-bg-dark: rgb(56, 50, 44, 1.0); // tone of black
$color-bg-light: #f6f6f6; //tone of beige

// cta colors
$color-cta: #f68b1f; // cta
$color-cta-hover: #BD6E1E; // cta hover


// text colors dark
$color-heading-dark: rgb(56, 50, 44), 1.0; // tone of black
$color-txt-dark: rgb(56, 50, 44), 1.0; // tone of black

// text colors light
$color-txt-light: #ffffff; // paragraph white
$color-txt-light: #000000; // paragraph white

//shadow
$text-shadow: 1px 1px 1.2px $color-txt-dark;
$box-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49);
$form-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49); 
$nav-shadow-bottom: 1px 4px 3px 0px rgba(182, 182, 182, 0.49); 
$nav-shadow-top: 1px -4px 3px 0px rgba(182, 182, 182, 0.49); 

// z-index 
$z-bg: -2000;
$z-cta: 1000;
$z-nav: 5000;
$z-modal: 10000; 

// border
$border-radius-button: 8px;
$border-radius-modal: 8px;
